body{background-color: #0092ff;}
#icon {
        height: 150px;
        max-width:150px;
        }
h1 { text-align:center;
     font-family:Helvetica Neue;
     color: white; }

h2 { margin-left:20%;
     margin-right:10%; 
     font-family:Helvetica Neue;
     color: white; }
h3 { margin-left:30%;
     margin-right:10%;
     font-family:Helvetica Neue;
     color: white; }
h4 { margin-left:30%;
     margin-right:10%;
     font-family:Helvetica Neue;
     color: white; }
p {  margin-left:35%;
     margin-right:15%;
     font-family:Helvetica Neue;
     color: white; }