body{background-color: #0092ff;}
h1 { font-family:Helvetica Neue;
     color: white;
     font-weight:bold; 
     margin-left:40%;}

h2 { margin-left:22%;
     font-size:20pt;
     font-family:Helvetica Neue;
     color:#8B5A2B ; }
h3 { margin-left:26%;
     margin-right:8%;
     font-size:13pt;
     font-family:Helvetica Neue;
     font-weight:bold; 
     color: white; }
h4 { margin-left:26%;
     margin-right:8%;
     font-style:italic;
     font-family:Helvetica Neue;
     font-size:12pt;
     color: white; }
p {  margin-left:33%;
     margin-right:10%;
     font-family:Helvetica Neue;
     color: white; }