body{background-color: #0092ff;}
h1 { font-family:Helvetica Neue;
     color: white;
     font-weight:bold; }

h2 { margin-left:25%;
     magin-right:8%; 
     font-family:Helvetica Neue;
     color: #95a5a6;
     tet-decoration:underline; }
h3 { margin-left:30%;
     margin-right:8%;
     font-family:Helvetica Neue;
     color: white; }
h4 { margin-left:30%;
     margin-right:8%;
     font-family:Helvetica Neue;
     color: white; }
p {  margin-left:33%;
     margin-right:10%;
     font-family:Helvetica Neue;
     color: white; }