body{background-color: #0092ff;}
.bold { font-family:Andale Mono;
          color: white;
          font-weight:900;
          font-size:60pt;
	  font-stretch: ultra-condensed;
          margin-left:350px;
	  margin-bottom:40px;
	  }
img.bubble{
	  text-align:center;
	  width:400px;
	  height: 400px;
	  border-radius: 200px;
	  -webkit-border-radius: 200px;
	  -moz-border-radius: 200px;
	  margin-left: 150px;
	  }
h1 { font-family:Andale Mono;
     color: white;
     font-weight:100;
     font-stretch: ultra-condensed; 
     font-size:56pt;
     margin-left:150px}

h2 { margin-left:22%;
     font-size:20pt;
     font-family:Helvetica Neue;
     color:#8B5A2B ; }
h3 { margin-left:26%;
     margin-right:8%;
     font-size:13pt;
     font-family:Helvetica Neue;
     font-weight:bold; 
     color: white; }
h4 { margin-left:26%;
     margin-right:8%;
     font-style:italic;
     font-family:Helvetica Neue;
     font-size:12pt;
     color: white; }
p {  margin-left:33%;
     margin-right:10%;
     font-family:Helvetica Neue;
     color: white; }
caption {
	caption-side:bottom;
     	font-size:20pt;
     	font-family:Helvetica Neue;
     	color:#8B5A2B ;
	}