body{background-color: #0092ff;}
#icon {
        height: 100px;
        margin-right:75%;
	margin-left:10%;
        }
#cvhead {font-family: "Helvetica";
	 font-size:20pt;
	 margin-right:5%;
	 color: white;
	}
h1 {
     font-family:Helvetica Neue;
     color: white; }

h2 { margin-left:40%;
     margin-right:8%; 
     font-family:Helvetica Neue;
     color: white; }
h3 { margin-left:50%;
     margin-right:8%;
     font-family:Helvetica Neue;
     color: white; }
h4 { margin-left:50%;
     margin-right:8%;
     font-family:Helvetica Neue;
     color: white; }
p {  margin-left:55%;
     margin-right:10%;
     font-family:Helvetica Neue;
     color: white; }