body{background-color: #0092ff;}
h1 { font-family:Helvetica Neue;
     color: white; }

h2 { margin-left:35%;
     magin-right:8%; 
     font-family:Helvetica Neue;
     color: white; }
h3 { margin-left:38%;
     margin-right:8%;
     font-family:Helvetica Neue;
     color: white; }
h4 { margin-left:38%;
     margin-right:8%;
     font-family:Helvetica Neue;
     color: white; }
p {  margin-left:42%;
     margin-right:10%;
     font-family:Helvetica Neue;
     color: white; }